@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	text-decoration: none;
	Color: white;
}

@media(min-width: 1261px)
{
	.name{
		position: absolute;
		left: 160px;
		font-size: auto;
	}

	.name span{
		color: purple;
		font-size: 30px;
	}
}
	
	#toggle{
		display: none;
	}

	body{
		background: purple;
	}


	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 3% 40px 2%;
		background: black;
		height: 130px;
	}

	nav ul li{
		list-style-type: none;
		display: inline-block;
		padding: 10px 20px;
	}

	.mainOptions{
		transition: .2s;
	}

	.mainOptions:hover{
		color: purple;
		transition: .2s;
	}

	.button{
		background: purple;
		margin: 30px;
		padding: 12px 20px;
		border-radius: 20px;
		color: white;
		font-weight: bold;
		transition: .3s;
	}

	.button:hover{
		padding: 18px 24px;
		margin-left: 26px;
		margin-right: 26px;
	}

	.logo{
	position: absolute;
	left: 30px;
	width: 100px;
	border-radius: 60px;
	}


@media(max-width: 1260px)
{
	

	.name{
		position: absolute;
		left: 140px;
		font-size: auto;
	}

	.name span{
		color: purple;
		font-size: 30px;
	}


	.logo{
	width: 100px;
	border-radius: 60px;
	}

	nav ul {
		display: grid;
		position: absolute;
		background: black;
		opacity: 1;
		width: 100%;
		top: 130px;
		left: 0;
		z-index: -1;
		transform: translate(0, -100%);
		transition: .5s;
	}

	.button{
	font-weight: 200;
	background: none;
	margin: 0;
	padding: 0;
	transition: .2s;
	}

	.button:hover{
		margin: 0;
		color: purple;
		transition: .2s;
	}

	.mainOptions:hover{
		padding: 18px;
		transition: .2s;
	}

	nav .navbar-toggler{
		display: grid;
		position: absolute;
		right: 25px;
		height: min-content;
		cursor: pointer;
	}

	nav .navbar-toggler span{
		display: grid;
		width: 40px;
		height: 5px;
		margin-bottom: 10px;
		background: #ffffff;
		border-radius: 10%;
		transition: .4s;

	}

	#toggle:checked ~ nav ul
	{
		transform: translate(0, 0);
		transition: .5s;
	}

	#toggle:checked ~ nav .navbar-toggler .bar2
	{
		display: none;
	}

	#toggle:checked ~ nav .navbar-toggler .bar1
	{
		position: absolute;
		transform: rotate(45deg);
	}

	#toggle:checked ~ nav .navbar-toggler .bar3
	{
		transform: rotate(-45deg);
	}
}


@media(max-width: 640px)
{

	.logo{
		position: absolute;
		top: 20px;
		left: 10px;
		width: 60px;
	}

	.name{
		position: absolute;
		top: 25px;
		left: 80px;
		width: 70px;
		font-size: 8px;
	}

	.name span{
		color: purple;
		font-size: 24px;
	}

	nav{
		height: 100px;
	}

	nav ul {
		display: grid;
		position: absolute;
		background: black;
		width: 100%;
		top: 100px;
		left: 0;
		z-index: -1;
		transform: translate(0, -100%);
		transition: .5s;
	}

	nav .navbar-toggler{
		display: grid;
		position: absolute;
		right: 25px;
		height: min-content;
		cursor: pointer;
	}

	nav .navbar-toggler span{
		display: grid;
		width: 40px;
		height: 5px;
		margin-bottom: 10px;
		background: white;
		border-radius: 10%;
		transition: .4s;

	}

	#toggle:checked ~ nav ul
	{
		transform: translate(0%);
		transition: .5s;
	}

	#toggle:checked ~ nav .navbar-toggler .bar2
	{
		display: none;
	}

	#toggle:checked ~ nav .navbar-toggler .bar1
	{
		position: absolute;
		transform: rotate(45deg);
	}

	#toggle:checked ~ nav .navbar-toggler .bar3
	{
		transform: rotate(-45deg);
	}
	

}

