@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	text-decoration: none;
	Color: white;
}

body{
	background: purple;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 10% 40px 2%;
	background: black;
}

.name

.name span{
	color: purple;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

.mainOptions{
	transition: .2s;
}

.mainOptions:hover{
	color: purple;
	transition: .2s;
}

.button{
	background: purple;
	padding: 12px 20px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	transition: .3s;
}

.button:hover{
	padding: 16px 22px;
	font-size: 24px;
}

.logo{
	width: 6%;
	border-radius: 60px;
}



